*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login {
    background-color: #F5EFEF;
    display: flex;
    padding: 0px 150px;
}

.login .bagianKiri {
    width: 100%;
    flex: 1.2;
}

.login a{
    color: white;
    text-decoration: none;
}

.login .bagianKiri img {
    width: 550px;
    position: absolute;
    left: 180px;
    top: 150px
}

.login .bagianKanan {
    width: 100%;
    flex: 1;
}

.login .bagianKanan .form {
    margin: 40px 12px;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    padding: 60px 45px;
    background-color: #5E6472;
    color: white;
}

.login .form .atas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 65px;
}

.login .form .atas .highlight {
    border-bottom: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 8px;
}

.login .form .atas .highlight2:hover{
    cursor: pointer;
    border-bottom: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 8px;
}

.login .form .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.login .input input {
    margin-top: 25px;
    padding: 20px 0px;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;
    border: none;
}

.login button {
    background-color: #007BFF;
    box-shadow: none;
    border: none;
}

.login .bagianKanan .button {
    background-color: #007BFF;
    text-align: center;
    width: 35%;
    margin: 0px auto;
    
    padding: 25px;
    border-radius: 12px;
}

.login .bagianKanan .button:hover{
    cursor: pointer;
}

.login .warning {
    color: red;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}